::-moz-selection {
	color: #fff;
	background: #de559a;
}

::selection {
	color: #fff;
	background: #de559a;
}

#jrpan-block {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 999;
}

.jrpan-popup {
	position: absolute;
	bottom: 50px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	padding: 10px;
	background: #fff;
	width: 200px;
	right: 0;
	border-radius: 3px;
}

.jrpan-popup ul {
	margin-top: 10px;
	list-style: none;
}

.jrpan-popup li {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}

.jrpan-popup li:first-child {
	border-top: none;
}

.jrpan-btn {
	display: inline-block;
	-webkit-appearance: none;
	background: -webkit-linear-gradient(#de559a, #fb92b1);
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	cursor: pointer;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.jrpan-selection {
	/* background: -webkit-linear-gradient(#de559a, #fb92b1); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
	position: relative;
	display: inline;
}

.jrpan-selection span {
	cursor: pointer;
}

.jrpan-selection span:hover {
	text-decoration: underline;
}

audio#jrpan-sound {
	width: 200px;
}

/* Glossed text style START */

.verb-gloss {
	color: #4dd0e1;
}

.noun-gloss {
	color: #8958dd;
}

.suffix-gloss {
	color: #003a69;
}

.prefix-gloss {
	color: #7600ad;
}

.adverb-gloss {
	color: #fdd835;
}

.general-gloss {
	color: #757575;
}

.adjective-gloss {
	color: #43a047;
}

.particle-gloss {
	color: rgb(175, 37, 106);
}

.i-adjective-gloss {
	color: #fb8c00;
}

.conjuction-gloss {
	color: #e65100;
}

.abdominalAdj-gloss {
	color: red;
}

.interjection-gloss {
	color: #f48fb1;
}

.auxiliaryVerb-gloss {
	color: #4db6ac;
}

.katakana-gloss {
	font-weight: bold;
	color: #274055;
}
